fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
pydantic
httpx
feedparser
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
sqlalchemy
itsdangerous
starlette
qrcode
ptyprocess
